<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
		<link rel="stylesheet" href="../../css/searchbar.css"/>
		
		<title>Sistem Kependudukan DKI</title>
	</head>
	
	<body>
		<nav class="navbar navbar-inverse">
 			<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="/">SI Kependudukan</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li><a href="/">Home</a></li>
      				<li><a href="/penduduk/tambah">Tambah Penduduk</a></li>
      				<li><a href="/keluarga/tambah">Tambah Keluarga</a></li>
      				<li><a href="/penduduk/ubah">Ubah Data Penduduk</a></li>
      				<li><a href="/keluarga/ubah">Ubah Data Keluarga</a></li>
      				<li><a href="/penduduk/cari-form">Cari Penduduk Berdasarkan Lokasi</a></li>
    			</ul>
  			</div>
		</nav>
		
		
		<div class="container-fluid text-center">
		<div class="row content">
		<div class="col-sm-2"></div>
		<div class="col-sm-8 text-left">
		
			<h1>ERROR!</h1>
			<h3>Halaman yang dicari tidak ditemukan</h3>
			<h3>Pastikan input yang anda masukkan sudah benar</h3>
	
		</div>
		</div>
		</div>
			
	</body>

</html>