<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="../../css/searchbar.css" />

<title>Sistem Kependudukan DKI</title>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
    			<div class="navbar-header">
      				<a class="navbar-brand" href="/">SI Kependudukan</a>
    			</div>
    			<ul class="nav navbar-nav">
      				<li><a href="/">Home</a></li>
      				<li><a href="/penduduk/tambah">Tambah Penduduk</a></li>
      				<li><a href="/keluarga/tambah">Tambah Keluarga</a></li>
      				<li><a href="/penduduk/ubah">Ubah Data Penduduk</a></li>
      				<li><a href="/keluarga/ubah">Ubah Data Keluarga</a></li>
      				<li><a href="/penduduk/cari-form">Cari Penduduk Berdasarkan Lokasi</a></li>
    			</ul>
  			</div>
	</nav>

	<h3>Sukses!</h3>
	<h5 th:text="'Keluarga dengan NKK ' + ${nomor_kk_lama} + ' berhasil diubah'"></h5>

</body>

</html>